<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<div><p>Lista twoich dzieci:</p></div>
<table>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birth date</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let child of children">
    <td>{{child.firstName}}</td>
    <td>{{child.lastName}}</td>
    <td>{{child.birthDate}}</td>
    <td><button (click)="delete(child.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<br>

<form class="text-center" (ngSubmit)="createChild()">

  <div class="row">
    <div class="col-md-6 text-center">
      <label><b>Add a new child</b></label>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <input type="text" class="form-control text-center bg-light text-dark" name="firstname"
             required id="firstname" placeholder="firstname"
             [(ngModel)]="newChild.firstName">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control text-center bg-light text-dark" name="lastname"
             required id="lastname" placeholder="lastname"
             [(ngModel)]="newChild.lastName">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <input type="text" class="form-control text-center bg-light text-dark" name="birthdate"
             required id="birthdate" placeholder="birthdate"
             [(ngModel)]="newChild.birthDate">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>

</form>

</body>
</html>
