<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post">

  <div class="container">
    <div>
      <label class="logonLabel" for="uname"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" name="uname" required id="uname">
    </div>
    <div>
      <label class="logonLabel" for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required id="psw">
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="forgot-password"><a href="#">Forgot password?</a></span>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    New user? <span class="register"><a href="#">Register now!</a></span>
  </div>
</form>
</body>
</html>
