<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Creating new Babysitter</title>
</head>
<body>
<form (ngSubmit)="createBabysitter()">
  <div>
    <label>
      First name: <input type="text" name="firstName" [(ngModel)]="newBabysitter.firstName">
    </label>
    <label>
      Last name: <input type="text" name="lastName" [(ngModel)]="newBabysitter.lastName">
    </label>
  </div>
  <div>
    <label>
      Phone number: <input type="text" name="phoneNumber" [(ngModel)]="newBabysitter.phoneNumber">
    </label>
    <label>
      E-mail: <input type="text" name="email" [(ngModel)]="newBabysitter.email">
    </label>
  </div>
  <input type="submit">
</form>
</body>
</html>
