<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
</head>
<body>

<div class="jumbotron">
  <h1 class="display-4 text-center">Babysitter Locally</h1>
  <p class="lead text-center">Leave your kids to other people and have fun!</p>
  <hr class="my-4">
  <button class="btn btn-primary hBack" type="button" (click)="goBack()"> <- Back to login</button>
  <hr class="my-4">
  <form class="text-center" (ngSubmit)="onFormSubmit()">
    <div class="row form-group">
      <div class="col-md-4">
        <input type="email" class="form-control text-center bg-light text-dark" name="email"
               required id="email" placeholder="Enter Email">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <button class="btn btn-outline-primary" type="submit">Remind password</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
