<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main View</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-7 text-center">You have logged in</h1>
  <div class="container">
    <div class="row">

      <div class="col-md-3 ml-md-auto">
        <button class="btn btn-danger btn-lg" [routerLink]="['../need']">I need help!!</button>
      </div>

      <div class="col-md-3 ml-md-auto">
        <button class="btn btn-success btn-lg" [routerLink]="['../offer']">I offer help</button>
      </div>

      <div class="col-md-3 ml-md-auto">
        <button class="btn btn-danger btn-lg" [routerLink]="['../join-events']">Events list</button>
      </div>
    </div>
  </div>
  <div class="container">
    <source
      srcset="https://cdn.unitycms.io/image/ocroped/1200,1200,1000,1000,0,0/uUvE2yHEKyY/A4ECkAL_4g9AGFNjkyZPw5.jpg"
      type="image/svg+xml">
    <img src="https://cdn.unitycms.io/image/ocroped/1200,1200,1000,1000,0,0/uUvE2yHEKyY/A4ECkAL_4g9AGFNjkyZPw5.jpg"
         class="img-fluid img-thumbnail" alt="kids">
    <button [routerLink]="['../manage-children']" class="btn btn-warning">Manage your children</button>
  </div>
</div>
</body>
</html>
