<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<form (ngSubmit)="createBabysitter()">

  <div class="container">
    <div>
      <label class="registerLabel"  for="first-name"><b>First Name:</b></label>
      <input type="text" name="first-name" required id="first-name" [(ngModel)]="newBabysitter.firstName">
    </div>
    <div>
      <label class="registerLabel" for="last-name"><b>Last Name:</b></label>
      <input type="text" name="last-name" required id="last-name" [(ngModel)]="newBabysitter.lastName">
    </div>
    <div>
      <label class="registerLabel" for="email"><b>Email:</b></label>
      <input type="email" name="email" required id="email" [(ngModel)]="newBabysitter.email">
    </div>
    <div>
      <label class="registerLabel" for="phone-number"><b>Phone nr:</b></label>
      <input type="text" name="phone-number" required id="phone-number" [(ngModel)]="newBabysitter.phoneNumber">
    </div>

    <div>
      <button type="submit">Register</button>
    </div>
  </div>


</form>
</body>
</html>
