<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>

<div class="container pt-3 border">
  <div class="row">
    <div class="col-md-3"></div>
    <p class="h1">Register</p>
    <div class="w-100"></div>
    <div class="col-md-3"></div>
    <p class="h6">Tis fast and easy!</p>
  </div>
  <hr class="col-md-6">

  <form class="text-center" (ngSubmit)="creatUserAndBabysitter()">
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input type="text" class="form-control text-center bg-light text-dark" name="username"
               required id="username" placeholder="Username"
               [(ngModel)]="newUserBabysitterDTO.username">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control text-center bg-light text-dark" name="password"
               required id="password" placeholder="Password"
               [(ngModel)]="newUserBabysitterDTO.password">

        </div>
      </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input type="text" class="form-control text-center bg-light text-dark" name="first-name"
               required id="first-name" placeholder="First Name"
               [(ngModel)]="newUserBabysitterDTO.firstName"
               [class.is-invalid]="submitted && validationErrors.firstName"
               [class.is-valid]="submitted && !validationErrors.firstName">
        <div class="invalid-feedback" *ngFor="let error of validationErrors.firstName">
          {{error}}
        </div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control text-center bg-light text-dark" name="last-name"
               required id="last-name" placeholder="Last Name"
               [(ngModel)]="newUserBabysitterDTO.lastName"
               [class.is-invalid]="submitted && validationErrors.lastName"
               [class.is-valid]="submitted && !validationErrors.lastName">
        <div class="invalid-feedback" *ngFor="let error of validationErrors.lastName">
          {{error}}
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="email" class="form-control text-center bg-light text-dark" name="email"
               required id="email" placeholder="Email"
               [(ngModel)]="newUserBabysitterDTO.email"
               [class.is-invalid]="submitted && validationErrors.email"
               [class.is-valid]="submitted && !validationErrors.email">
        <div class="invalid-feedback" *ngFor="let error of validationErrors.email">
          {{error}}
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="text" class="form-control text-center bg-light text-dark" name="phone-number"
               required id="phone-number" placeholder="Phone nr"
               [(ngModel)]="newUserBabysitterDTO.phoneNumber"
               [class.is-invalid]="submitted && validationErrors.phoneNumber"
               [class.is-valid]="submitted && !validationErrors.phoneNumber">
        <div class="invalid-feedback" *ngFor="let error of validationErrors.phoneNumber">
          {{error}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <p class="font-italic">By registering you concede to pay us ALL of your money.</p>
    <div class="w-100"></div>
    <div class="col-md-3"></div>
    <p class="font-italic">All of it.™</p>
  </div>
</div>
</body>
</html>
