<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>

<div class="container pt-3 border">
  <div class="row">
    <div class="col-md-3"></div>
    <p class="h1">Register</p>
    <div class="w-100"></div>
    <div class="col-md-3"></div>
    <p class="h6">Tis fast and easy!</p>
  </div>
  <hr class="col-md-6">

  <form class="text-center" (ngSubmit)="createBabysitter()">
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input type="text" class="form-control text-center bg-light text-dark" required id="first-name" placeholder="First Name"
               [(ngModel)]="newBabysitter.firstName">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control text-center bg-light text-dark" required id="last-name" placeholder="Last Name"
               [(ngModel)]="newBabysitter.lastName">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="email" class="form-control text-center bg-light text-dark" required id="email" placeholder="Email"
               [(ngModel)]="newBabysitter.email">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input type="text" class="form-control text-center bg-light text-dark" required id="phone-number" placeholder="Phone nr"
               [(ngModel)]="newBabysitter.phoneNumber">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <p class="font-italic">By registering you concede to pay us ALL of your money.</p>
    <div class="w-100"></div>
    <div class="col-md-3"></div>
    <p class="font-italic">All of it.™</p>
  </div>
  </div>
</body>
</html>
